<div class="xactionBox" data-id="<?php echo $recordSet->account_id;?>">
	<h3 class="vendor"><?php echo $recordSet->account_name;?></h3>
	<form action="index.php" method="post" onsubmit="return confirm('Are you sure you want to delete this account?');">
		<input name="user" value="<?php echo $recordSet->user_id;?>" style="display: none;"></input>
		<input name="accNum" value="<?php echo $recordSet->account_id;?>" style="display: none;"></input>
		<input name="action" value="deleteAccount" style="display:none;"></input>
		<input type="image" class="deleteAccount" src="img/trash.png"></img>
	</form>
	<img class="edit" src="img/tool.png"></img>
	<p id="<?php echo $recordSet->account_id;?>" class="amnt" ><?php echo $recordSet->balance;?></p>
</div>
<script>
	var someVal = $('#<?php echo $recordSet->account_id;?>').html();
	var intVal = parseInt(someVal);
	var val;
	var neg=false;
	if(intVal < 0){
		intVal=intVal*-1;
		neg=true;
		$('#<?php echo $recordSet->account_id;?>').css('color', '#b20000');
	}
	val=intVal.toString();
	var digits = val.length;
	var newVal = "";
	for(i=0; i < digits; i++){
		newVal = val[(digits-1)-i]+newVal;
		if((i+1)%3 == 0 && i != digits-1){
			newVal=","+newVal;
		}	
	}
	if(neg){
		newVal='-$'+newVal;
	}
	else{
		newVal='$'+newVal;
	}
	
	$('#<?php echo $recordSet->account_id;?>').html(newVal);
</script>
